@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0px;
  padding: 0px;
}

.Hero{
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  font-family: Poppins;
  justify-content: center;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.nav-logo{
  width: 150px;
}

.nav-btn{
  width: 100px;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 5px 1px  #383737;
  font-weight: 700;
}

.Hero h1{
  text-align: center;
  font-weight: 800;
  padding: 25px;
}

.Hero p{
  text-align: center;
  padding: 25px;
  font-weight: 500;
  font-size: larger;
}

.hero-btn{
  background-color: hsl(322, 100%, 66%);
  width: 250px;
  height: 45px;
  text-align: center;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 15px;
  justify-self: center;
  margin-bottom: 20px;
  margin-left: 85px;
  
}

.main-image{
  width: 300px;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  margin-left: 50px;
}



.info{
  margin-top: 30px;
  justify-content: center;
  font-family: Open Sans;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1fr 1fr 1fr;
  gap: 20px;
}

.card{
  width: 320px;
  padding: 30px;
  box-shadow: 2px 2px 5px 1px  #383737;
  justify-content: center;
  border-radius: 15px;
  margin-left: 18px;
  
}

.card p{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  color: hsl(208, 11%, 55%);
}

.card h2{
  text-align: center;
  margin-bottom: 10px;
}

.card-img{
  width: 240px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.inter-div{
   justify-self: center;
}

.intersection{
  background-color: white;
  width: 320px;
  box-shadow: 2px 2px 5px 1px  #383737;
  margin-left: 15px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: 100px;
}

.inter-h2{
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-btn{
  background-color: hsl(322, 100%, 66%);
  width: 250px;
  height: 45px;
  text-align: center;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 15px;
  justify-self: center;
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px 1px  #383737;
}

footer{
  background-color: hsl(192, 100%, 9%);
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  color: white;
}

footer img{
  margin-right: 10px;
}

footer div{
  margin-bottom: 20px;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer-logo{
  margin-top: 100px;
  margin-bottom: 20px;
}

li{
  margin-bottom: 20px;
}

.copy{
  font-size: 10px;
  margin-bottom: 15px;
}

.nav-btn:hover{
 background-color: #b8b1b1;
}

li{
  text-decoration: none;
}

.footer-btn:hover,.hero-btn:hover{
  background-color: hsl(322, 66%, 77%);
}  

a:hover{
  text-decoration: underline;

}

@media screen and (min-width: 600px) {
  .Hero{
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  font-family: Poppins;
  justify-content: center;
}

.hero-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
}

.hero-text{
  margin-left: 50px;
  padding: 0;
}
.hero-text h1{
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 0px;
}

.hero-text p{
  text-align: left;
  margin-top: 10px;
  padding: 0px;
}

.hero-text .hero-btn{
  margin-left: 0px;
  margin-top: 20px;
}

.hero-img{
  margin-right: 50px;
}

.main-image{
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0px;
}

.info{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.card{
  width: fit-content;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.card-1{
  grid-column: 2/2;
  grid-row: 1/1;
  align-content: end;
}

.card-info{
  grid-column: 1/2;
  grid-row: 1/1;
}

.card-info h2{
  text-align: left;
  margin-top: 20px;
}

.card-info p{
  text-align: left;
}

.inter-div{
  margin-left: 30px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-self: center;

}

.intersection{
  width: fit-content;
  text-align: center;
  width: 80vw;
}

.footer-property{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 40px;
  text-align: left;
  justify-content: center;
  padding: 50px;
}

ul{
  margin-top: 165px;
  
}
ul li{
  text-decoration: none;
}
}

@media screen and (min-width: 1200px) {
  .Hero{
    
  }

  .hero-text h1{
  text-align: left;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 40px;
}
}